AZ_rg-Sales-DevQA-Q01_Solution/LogicAppResources/appLA_S3F/appLA-S3F-REALSfdc2SdfDeleteAccountContact-ARM.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "documentdb_accessKey": {
      "type": "string",
      "defaultValue": "id"
    },
    "messagingQueueAPI": {
      "type": "string",
      "defaultValue": "id"
    },
    "messagingQueueClientId": {
      "type": "string",
      "defaultValue": "id"
    },
    "messagingQueueSecret": {
      "type": "string",
      "defaultValue": "id"
    },
    "documentdb_Connection_Name": {
      "type": "string",
      "defaultValue": "id"
    },
    "documentdb_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "id"
    },
    "documentdb_databaseAccount": {
      "type": "string",
      "defaultValue": "id"
    },
    "salesforce_Connection_Name": {
      "type": "string",
      "defaultValue": "id"
    },
    "salesforce_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "id"
    },
    "cosmosdb_Collection": {
      "type": "string",
      "defaultValue": "id"
    },
    "salesforce_token:LoginUri": {
      "type": "string",
      "defaultValue": "id"
    },
    "salesforce_salesforceApiVersion": {
      "type": "string",
      "defaultValue": "id"
    },
    "env": {
      "type": "string",
      "defaultValue": "id"
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "southafricanorth",
        "southafricawest"
      ],
      "defaultValue": "eastus"
    },
    "ParamCollection": {
      "defaultValue": {},
      "type": "object"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Declare_AccountJSON": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AccountJSON",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {
                "Declare_MessagingQueueStatus": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              }
            },
            "Declare_MessagingQueueStatus": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "MessagingQueueStatus",
                    "type": "String",
                    "value": "Failed"
                  }
                ]
              },
              "runAfter": {
                "Retrieve_DomainUserName_From_Id": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              }
            },
            "Declare_TTL_for_cosmos_logging": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "TTL",
                    "type": "integer",
                    "value": 2592000
                  }
                ]
              },
              "runAfter": {
                "Declare_AccountJSON": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              }
            },
            "Retrieve_DomainUserName_From_Id": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['salesforce']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('User'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['LastModifiedById']))}",
                "queries": {
                  "$select": "GUID__c,FederationIdentifier"
                }
              },
              "runAfter": {}
            },
            "Validate_required_fields_and_Invoke_messaging_queue_service": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['Contact_GUID__c']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['Contact_GUID__c']",
                        "''"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['Account_GUID__c']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['Account_GUID__c']",
                        "''"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['Account_Type__c']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()?['Account_Type__c']",
                        "''"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@body('Retrieve_DomainUserName_From_Id')?['GUID__c']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@body('Retrieve_DomainUserName_From_Id')?['GUID__c']",
                        "''"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@body('Retrieve_DomainUserName_From_Id')?['FederationIdentifier']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@body('Retrieve_DomainUserName_From_Id')?['FederationIdentifier']",
                        "''"
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Compose_JSON": {
                  "type": "Compose",
                  "inputs": "\"AccountInfo\": {\n        \"@AccountGUID\": \"@{trim(coalesce(triggerBody()?['Account_GUID__c'],''))}\",\n        \"@AccountNumber\": \"@{triggerBody()?['Account_Number__c']}\",\n        \"@AccountType\":\"@{trim(coalesce(triggerBody()?['Account_Type__c'],''))}\",\n        \"@DomainUserName\": \"@{concat('pmusa\\\\\\\\',replace(replace(coalesce(body('Retrieve_DomainUserName_From_Id')?['FederationIdentifier'],''),'''','\\'''),'pmusa\\',''))}\",\n        \"@SalesEmpGuid\": \"@{trim(coalesce(body('Retrieve_DomainUserName_From_Id')?['GUID__c'],''))}\",\n        \"@ActionType\": \"UpdateAccountContactInfo\",\n        \"ContactList\": {\n        \"Contact\": [\n         {\n          \"@ContactGUID\": \"@{trim(coalesce(triggerBody()?['Contact_GUID__c'],''))}\",\n          \"@IsDeleted\": \"Yes\",\n          \"@UpdateUser\": \"@{concat('pmusa\\\\\\\\',replace(replace(coalesce(body('Retrieve_DomainUserName_From_Id')?['FederationIdentifier'],''),'''','\\'''),'pmusa\\',''))}\",\n          \"@UpdateDate\": \"@{triggerBody()?['LastModifiedDate']}\"\n        }\n      ]\n      }\n    }",
                  "runAfter": {}
                },
                "Insert_Log_JSON": {
                  "runAfter": {
                    "Set_Log_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": "@variables('AccountJSON')",
                    "headers": {
                      "x-ms-documentdb-is-upsert": false,
                      "x-ms-documentdb-raw-partitionkey": "\"@{formatDateTime(utcNow(),'yyyyMM')}\""
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/dbs/@{encodeURIComponent('SfdcSync')}/colls/@{encodeURIComponent(parameters('$Collections')['Cosmosdb_Collection'])}/docs"
                  }
                },
                "Invoke_Messaging_Queue_API": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    //"uri": "https://agdcqaapimgmt.azure-api.net/SSF/MessagingQueue/Post",
                    "uri": "[parameters('messagingQueueAPI')]",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "queries": {
                      "actionType": "S3F_QueueMessage_UpdateAccountInfo"
                    },
                    "body": "@variables('AccountJSON')",
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "535b2d87-664f-415a-b7fa-fd3f1086d450",
                      "audience": "00000002-0000-0000-c000-000000000000",
                      "clientId": "[parameters('messagingQueueClientId')]",
                      "secret": "[parameters('messagingQueueSecret')]"
                    }
                  },
                  "runAfter": {
                    "Stringify_JSON": [
                      "Succeeded",
                      "Failed",
                      "Skipped",
                      "TimedOut"
                    ]
                  }
                },
                "Set_Log_JSON": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AccountJSON",
                    "value": "{\n\"id\":\"@{guid()}\",\n\"partition\":\"@{formatDateTime(utcNow(),'yyyyMM')}\",\n\"logTimeUTC\":\"@{utcNow()}\",\n\"type\":\"InBound\",\n\"principal\":\"LogicApp\",\n\"operation\":\"@{parameters('$Collections')['LAname']}\",\n\"currentState\":\"@{variables('MessagingQueueStatus')}\",\n\"correlationId\":\"True Operation\",\n\"timeZone\":\"EST\",\n\"request\":\n{\"DeletedContact\":@{triggerBody()},\"User\":@{body('Retrieve_DomainUserName_From_Id')},\"MessagingQueueRequest\":@{concat('{',string(outputs('Compose_JSON')),'}')}},\n\"response\":{\"MessagingQueueResponse\":@{body('Invoke_Messaging_Queue_API')}},\n\"error\":\"\",\n\"ttl\":@{variables('TTL')}\n}"
                  },
                  "runAfter": {
                    "Validate_messaging_queue_service_status": [
                      "Succeeded",
                      "Failed",
                      "Skipped",
                      "TimedOut"
                    ]
                  }
                },
                "Stringify_JSON": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AccountJSON",
                    "value": "'@{concat('{',string(outputs('Compose_JSON')),'}')}'"
                  },
                  "runAfter": {
                    "Compose_JSON": [
                      "Succeeded",
                      "Failed",
                      "Skipped",
                      "TimedOut"
                    ]
                  }
                },
                "Validate_messaging_queue_service_status": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Invoke_Messaging_Queue_API')['statusCode']",
                          200
                        ]
                      },
                      {
                        "equals": [
                          "@body('Invoke_Messaging_Queue_API')?['statusCode']",
                          "@string(200)"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Set_Success_Status": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "MessagingQueueStatus",
                        "value": "Successful"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Invoke_Messaging_Queue_API": [
                      "Succeeded",
                      "Failed",
                      "Skipped",
                      "TimedOut"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Set_Error_Status": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "MessagingQueueStatus",
                          "value": "Failed"
                        },
                        "runAfter": {}
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Declare_TTL_for_cosmos_logging": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "else": {
                "actions": {
                  "Insert_Error_Log_JSON": {
                    "runAfter": {
                      "Set_Error_Log_JSON": [
                        "Succeeded"
                      ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                      "body": "@variables('AccountJSON')",
                      "headers": {
                        "x-ms-documentdb-is-upsert": false,
                        "x-ms-documentdb-raw-partitionkey": "\"@{formatDateTime(utcNow(),'yyyyMM')}\""
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/dbs/@{encodeURIComponent('SfdcSync')}/colls/@{encodeURIComponent(parameters('$Collections')['Cosmosdb_Collection'])}/docs"
                    }
                  },
                  "Set_Error_Log_JSON": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "AccountJSON",
                      "value": "{\n\"id\":\"@{guid()}\",\n\"partition\":\"@{formatDateTime(utcNow(),'yyyyMM')}\",\n\"logTimeUTC\":\"@{utcNow()}\",\n\"type\":\"InBound\",\n\"principal\":\"LogicApp\",\n\"operation\":\"@{parameters('$Collections')['LAname']}\",\n\"currentState\":\"@{variables('MessagingQueueStatus')}\",\n\"correlationId\":\"False Operation\",\n\"timeZone\":\"EST\",\n\"request\":\n{\"DeletedContact\":@{triggerBody()},\"User\":@{body('Retrieve_DomainUserName_From_Id')}},\n\"response\":\"\",\n\"error\":\"\",\n\"ttl\":@{variables('TTL')}\n}"
                    },
                    "runAfter": {}
                  }
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "$Collections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "Poll_SFDC_to_get_updated_records": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['salesforce']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('Deleted_Contacts__c'))}/onupdateditems",
                "queries": {
                  "$filter": "Is_User_Modified__c eq true"
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 3
              },
              "splitOn": "@triggerBody()?['value']"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "salesforce": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus', '/managedApis/', 'salesforce')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('salesforce_Connection_Name'))]",
                "connectionName": "[parameters('salesforce_Connection_Name')]"
              },
              "documentdb": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus', '/managedApis/', 'documentdb')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('documentdb_Connection_Name'))]",
                "connectionName": "[parameters('documentdb_Connection_Name')]"
              }
            }
          },
          "$Collections": {
            "value": {
              "Cosmosdb_Collection": "[parameters('cosmosdb_Collection')]",
              "LAname": "[parameters('ParamCollection')['DeleteAccountContact']]"
            }
          }
        }
      },
      "name": "[parameters('ParamCollection')['DeleteAccountContact']]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('LogicAppLocation')]",
      "tags": {
        "costcenter": "60726",
        "owner": "Kevin Hazzard",
        "dept": "Sales",
        "project": "New AGDC",
        "env": "[parameters('env')]",
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('salesforce_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('documentdb_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('salesforce_Connection_Name')]",
      "location": "eastus",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus', '/managedApis/', 'salesforce')]"
        },
        "displayName": "[parameters('salesforce_Connection_DisplayName')]",
        "nonSecretParameterValues": {
          "token:LoginUri": "[parameters('salesforce_token:LoginUri')]",
          "salesforceApiVersion": "[parameters('salesforce_salesforceApiVersion')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('documentdb_Connection_Name')]",
      "location": "eastus",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus', '/managedApis/', 'documentdb')]"
        },
        "displayName": "[parameters('documentdb_Connection_DisplayName')]",
        "parameterValues": {
          "databaseAccount": "[parameters('documentdb_databaseAccount')]",
          "accessKey": "[parameters('documentdb_accessKey')]"
        }
      }
    }
  ],
  "outputs": {}
}